# Choosing History Classes

What I'm working on here is selecting the class that is most likely to get me a passing grade with minimum effort for my History General Education Requirements. I will look at average course grade as well as percent recommended for the class based on CAPE scores and reviews within the department

In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

The first thing that I will do is take in the information from the csv file into a dataframe.

In [71]:
uneditedHistoryTable = pd.read_csv("HistoryCapes.csv")
#historyTable

The next action that I performed was that I took the information and removed all entries where the average grade received was not an A.

In [72]:
#df[df['date'].astype(str).str.contains('07311954')]
newHistoryTable = uneditedHistoryTable[uneditedHistoryTable['Avg Grade Received'].astype(str).str.contains('A')]
#historyTable

The next action that I took was to remove all entries where there were not at least 10 entries, to make sure that the class had enough entries to make the student reviews reliable.

In [74]:
#historyTable[historyTable['Avg Grade Received'].astype(str).str.contains('A')]
newHistoryTable = newHistoryTable[newHistoryTable['Evals Made'] >= 10]
#historyTable

The following method was created to reformat the 'Rcmnd Class' and 'Rcmnd Instr' Columns so that they are floats.

In [75]:
def stripPercentMakeFloat(percent):
    '''Takes a Percent in String form and turns it into a float'''
    return float(percent.strip('%'))
#testResult = stripPercentMakeFloat("99.9%")
#print(str(testResult) + " is a " + str(type(testResult)))

I then used apply to edit both of these columns.

In [76]:
#df['a'] = df['a'].apply(lambda x: x + 1)
newHistoryTable['Rcmnd Class'] = newHistoryTable['Rcmnd Class'].apply(lambda x : stripPercentMakeFloat(x))
newHistoryTable['Rcmnd Instr'] = newHistoryTable['Rcmnd Instr'].apply(lambda x : stripPercentMakeFloat(x))
#historyTable

I then removed the classes where less than 82 and 80 percent of people recommended the class and instructor, respectively.

In [77]:
newHistoryTable = newHistoryTable[newHistoryTable['Rcmnd Class'] >= 85]
newHistoryTable = newHistoryTable[newHistoryTable['Rcmnd Instr'] >= 85]

In [78]:
newHistoryTable = newHistoryTable.drop_duplicates('Course') #removes duplicate courses
#historyTable

In [79]:
newHistoryTable = newHistoryTable[newHistoryTable['Study Hrs/wk'] <= 10]
#historyTable

In [80]:
newHistoryTable = newHistoryTable.sort_values('Study Hrs/wk')
newHistoryTable

,Instructor,Course,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received
19,"Ringrose, David R.",HIEU 126 - Age of Expansion/1400-1600 (A),WI10,56,19,89.5,94.7,2.94,A- (3.84),A- (3.77)
16,"Graham, Jessica Lynn",HILA 121A - History of Brazil through 1889 (A),WI14,35,15,100.0,100.0,3.30,A- (3.85),A- (3.76)
11,"Rosenfeld, Susan Alexandra",HIAF 112 - West Africa Since 1880 (A),WI17,27,12,100.0,100.0,3.59,B+ (3.50),A- (3.75)
8,"Man, Simeon S",HILD 7B - Race & Ethnicity/United States (A),WI17,367,228,89.6,93.7,3.94,B+ (3.70),A- (3.74)
4,"Ringrose, David R.","HITO 117 - World History, 1200-1800 (A)",WI08,23,11,100.0,100.0,3.95,A- (3.75),A- (3.72)
26,"Widener, Daniel",HILA 122 - ColonyToSocialistRepublic:Cuba (A),FA14,54,24,87.0,91.3,4.23,A- (3.85),A- (3.84)
0,"Widener, Daniel",HITO 155 - Race/Sport/Inequality 20th Cen (A),FA15,68,28,88.9,96.3,4.42,B+ (3.47),A- (3.70)
3,"Ringrose, David R.",HIEU 138 - Imperial Spain 1476-1808 (A),WI09,36,18,100.0,100.0,4.61,A- (3.76),A- (3.71)
9,"Graham, Jessica Lynn",HILA 121B - History of Brazil 1889-Present (A),WI13,24,10,100.0,100.0,4.70,B+ (3.56),A- (3.74)
17,"Frolich, Margrit Luise",HIEU 145 - The Holocaust as Public Histry (A),SP17,56,23,91.3,95.7,5.14,B+ (3.50),A- (3.77)
14,"Widener, Daniel",HIUS 114 - California History (A),S214,34,11,100.0,90.9,5.59,B+ (3.60),A- (3.75)
30,"Fuste, Jose Ignacio",HIUS 129 - Race/Ethnicity-American Cities (A),WI14,19,14,100.0,100.0,5.64,A- (3.73),A- (3.88)
12,"Biess, Frank Peter",HIEU 154GS - Mod German/Bismarck to Hitler (A),S216,28,13,100.0,100.0,6.00,A- (3.75),A- (3.75)
2,"O'Keefe, Amy Merrill",HIEA 131 - China/War & Revolution 1911-49 (A),S117,24,21,90.5,95.2,7.20,B+ (3.67),A- (3.71)
21,"Patterson, Patrick H.",HIEU 152GS - Everyday Life/Dictatorial Soc (A),S215,23,21,95.2,100.0,8.50,B+ (3.57),A- (3.79)
13,"Radcliff, Pamela B.",HIEU 151GS - Spain Since 1808 (A),S115,24,12,90.9,100.0,8.86,A- (3.73),A- (3.75)

In [81]:
possibleCourses = (newHistoryTable['Course'], newHistoryTable['Study Hrs/wk'])
print(possibleCourses)

(19         HIEU 126 - Age of Expansion/1400-1600 (A)
16    HILA 121A - History of Brazil through 1889 (A)
11             HIAF 112 - West Africa Since 1880 (A)
8       HILD 7B - Race & Ethnicity/United States (A)
4            HITO 117 - World History, 1200-1800 (A)
26     HILA 122 - ColonyToSocialistRepublic:Cuba (A)
0      HITO 155 - Race/Sport/Inequality 20th Cen (A)
3            HIEU 138 - Imperial Spain 1476-1808 (A)
9     HILA 121B - History of Brazil 1889-Present (A)
17     HIEU 145 - The Holocaust as Public Histry (A)
14                 HIUS 114 - California History (A)
30     HIUS 129 - Race/Ethnicity-American Cities (A)
12    HIEU 154GS - Mod German/Bismarck to Hitler (A)
2      HIEA 131 - China/War & Revolution 1911-49 (A)
21    HIEU 152GS - Everyday Life/Dictatorial Soc (A)
13                 HIEU 151GS - Spain Since 1808 (A)
Name: Course, dtype: object, 19    2.94
16    3.30
11    3.59
8     3.94
4     3.95
26    4.23
0     4.42
3     4.61
9     4.70
17    5.14
14    5.59
30    5.64
12    6.00
2     7.20
21    8.50
13    8.86
Name: Study Hrs/wk, dtype: float64)